# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_SPLITKB_AURORA_SOFLE_DONGLED_DONGLE
    def_bool $(shields_list_contains,splitkb_aurora_sofle_dongled_dongle)

config SHIELD_SPLITKB_AURORA_SOFLE_DONGLED_CENTRAL_LEFT
    def_bool $(shields_list_contains,splitkb_aurora_sofle_dongled_central_left)

config SHIELD_SPLITKB_AURORA_SOFLE_DONGLED_LEFT
    def_bool $(shields_list_contains,splitkb_aurora_sofle_dongled_left)

config SHIELD_SPLITKB_AURORA_SOFLE_DONGLED_RIGHT
    def_bool $(shields_list_contains,splitkb_aurora_sofle_dongled_right)
